.character {
    transform: skewX(14deg);
    position: relative;
    animation: flyintoright .4s backwards;
    transition: all .2s ease-in-out;
    z-index: 20;
    height: 100%;
    width: 40%;
    -webkit-filter: grayscale(100%) contrast(100%) brightness(40%);
    filter: grayscale(100%) contrast(100%) brightness(40%);
    vertical-align: bottom;
    margin-left: -600px;
    padding-bottom: 30px;
    padding-left: 300px;
    &:hover {
        filter: grayscale(0) contrast(100%) brightness(100%);
        &blue{
            background-color: $blue;
        }
        &red{
            background-color: $red;
        }
        &yellow{
            background-color: $yellow;
        }
    }
}

img {
    position: relative;
    height: 840px;
    width: 700px;
    aspect-ratio: 6/5;
}

.diagonal-box {
    position: relative;
    transform: skewY(-14deg);
    transform: skewX(-14deg);
    animation: flyintoright .4s backwards;
    transition: all .2s ease-in-out;
    height: 100%;
    width: 50%;
    margin-right: -140px;
}

.blue, .red, .yellow {
    background-color: #fff;
    animation: flyintoright .4s backwards;
    transition: all .2s ease-in-out;
    margin-left: 100px;
}

.turtle-text p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: Press Start 2P;
}

.tile {
    align-items: stretch;
    display: block;
    min-height: min-content;
}
