@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

}
@import "variables.scss";
@import "reset.scss";

.retro-font {
    font-family: Press Start 2P!important;
    font-style: normal;
}
