$title-color: #363636;
$scheme-invert: #000000;
$secondary: #03301b;
$secondary-light: #8559da;
$secondary-dark: #bf412d;;
$primary-light: #302207;
$primary-dark: #026d6d;
$primary: $secondary;

$info: $primary-dark;
$light: #01140b;
$dark: #03301b;
$black: #026d6d;
$red: #bf412d;
$yellow: #c78f2f;
$blue: #0b2534;
$grey: white;